#menuBG {
    width:400px;
    height:600px;
    margin:10px auto;
    background-color: dodgerblue;
}

#frmMenu {
    width:600px;
    height:200px;
   
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

div {
    font-family: monospace;
    color: white;
}


.menu_left {
    width:auto;     /* changed from 200px for three sections to auto */
    height:200px;
    float:left;
    
}

/* I didn't use these, just used .left to float the divs to the left 
.center {
    width: auto;
    height: 200px;
    float: left;
    border: 1px solid red;
}


.right {
    width:auto;
    height:200px;
    float:left;
    border: 1px solid red;
}
 */
 
 
#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
    float:left;         /* right on website */
    /*border: 1px, solid black;*/
}


#cart {
    top:0;
    margin:0px auto;
    width:400px;
    height:300px;
    float: left;
    padding: 30px; /* padding inside the cart div */
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
}

